@model IEnumerable<CmsShoppingCart.Models.ViewModel.ProductVM>

@{
    ViewBag.Title = "Products";
}
@using PagedList.Mvc; 
@using PagedList;
<h2>Products</h2>
<select id="SelectCategory" name="SelectCategory">
    <option value="0">All</option>

    @foreach(var item in ViewBag.Categories)
    {
        if(ViewBag.Selected == item.Value)
        {
            <option selected ="selected" value="@item.Value">@item.Text </option>
        }
        else
        {
            <option  value="@item.Value">@item.Text </option>
        }

    }
</select>
<p>
    @Html.ActionLink("Add New Product", "AddProduct")
</p>
<table class="table">
    <tr>
        <th>
          Name
        </th>
        <th>
           Description
        </th>
       
        <th>
          Image Name
        </th>
        <th>
          Price
        </th>
        
        <th></th>
    </tr>
    
        @foreach (var product in ViewBag.OnePageOfProducts)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Description</td>
                <td>@product.Price</td>
                <td>
                    <a href="/Admin/shop/EditProduct/@product.Id">
                        <img src="/Images/Uploads/Products/@product.Id/Thumbs/@product.ImageName"  />
                    </a>
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditProduct", new { id = product.Id }) |
                  
                    @Html.ActionLink("Delete", "DeleteProduct", new { id = product.Id }, new {@class="delete" })
                </td>
            </tr>
           
        }

</table>
@Html.PagedListPager((IPagedList)ViewBag.OnePageOfProducts, page => Url.Action("products", new { page, catId= ViewBag.Selected }))

@section Scripts
{
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <script>


 $(function () {

     $('#SelectCategory').on("change",function () {
         var url = $(this).val();
         if (url) {
             window.location = "/admin/shop/products?catId="+ url;
         }
         return false;
     })

            $('a.delete').click(function () {
                if (!confirm("confirm page deletion")) return false;
            });

           
 });

    </script>


}
